:root {
  --secondary: #6c757d;
}
/* Add here all your CSS customizations */
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
	text-decoration: none;
}
ul li {
  list-style-image: none;
  list-style: none;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.cursor-pointer {
  cursor: pointer;
}
.encabezado{
  background-color:#3c8dbc;
}
.usuario2{
  z-index: 5;
  color: #fff;
  color: rgba(255,255,255,0.8);
  font-size: 17px;
  margin-top: 10px;
}
.boton1 {
  text-align: left;
}
.boton2 {
  text-align: right;
}
.text-secondary {
  color: var(--secondary);
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.cursor-pointer {
  cursor: pointer;
}
.table-productos-precios {
  max-height: 342px;
}
.encabezado {
  background-color:#3c8dbc;
}
.arrow-r-header-secondary {
  color: var(--secondary);
  margin-right: 1em;
}
.arrow-r-header-secondary i {
  font-size: 2.6em;
}

.content-overflow {
  overflow-y: scroll;
  max-height: 20vh;
}
.mt-2em {
  margin-top: 2em;
}

.txterror {
  font-size: 16px;
  color: #ff0000;
  text-align: center;
}
.a-login{
  font-size: 1vw;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
}
.a-login:hover{
  text-decoration: underline;
  color:rgb(26, 74, 96);
}

#gen_factura{
  margin: .3em 0;
  width: 100%;
}